<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css" rel="stylesheet" type="text/css" /> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js" type="text/javascript"></script>

<div class="page-width imgov-slider-onlyxt">
  
  <div class="img-slider-whole">
   
    <div class="swiper-container sx-img-only">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">

          {% for block in section.blocks %}
            <div class="swiper-slide"  data-swiper-autoplay="2000">
             
                <img src="{{ block.settings.image | img_url: '' }}">
             
            </div>
          {% endfor %}

        </div>

<!--         <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
      
      
      
    </div>
    
  </div>
</div>  
    


<script>
$(document).ready(function() {

    new Swiper('.img-slider-whole .swiper-container', {
        loop: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 4,
        paginationClickable: true,
        spaceBetween: 20,
        breakpoints: {
            1920: {
                slidesPerView: 4,
                spaceBetween: 20
            },
            1200: {
                slidesPerView: 4,
                spaceBetween: 20
            },
            992: {
                slidesPerView: 2,
                spaceBetween: 20
            },
            500: {
                slidesPerView: 1,
                spaceBetween: 10
            }
        }
    });
});

</script>




{% schema %}
  {
    "name": "Image slider",
    "settings": [
      {
        "id": "heading",
        "type": "text",
        "label": "Heading"
      }
    ],
    "name": "Image slider Logo",

    "blocks": [
			{
				"type": "text",
				"name": "Image slider",
				"settings": [
				
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					}
					
					
				]
			}
		],
	
    "presets": [
     {
      "name": "Image slider",
      "category": "Image"
    }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
