<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css" rel="stylesheet" type="text/css" /> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js" type="text/javascript"></script>



<div class="img-rev-slider-nv font-slider-cf">
<div class="page-width45 img-slider-only">  
{{ section.settings.paragraph3 }}   
  <div class="img-slider-tooo">

    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">  
          {% for block in section.blocks %}
          
            <div class="swiper-slide"  data-swiper-autoplay="5000">
              <div class="skb-author">
               <img src="{{  block.settings.image | img_url: '800x800' }}">
              </div>
            
              {{ block.settings.paragraph }}
             </div>
          
          {% endfor %}
                            
         
          </div> 
      
   
<!--         <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
       -->
      
      
      <div class="swiper-paginationbeauty-slider"></div>
       </div>
       
    
    </div>
  </div>
</div>

  


<script>
$(document).ready(function() {

    new Swiper('.img-slider-tooo .swiper-container', {
        loop: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        pagination: '.swiper-paginationbeauty-slider',
        paginationClickable: true, 
        freeMode:true,
        freeModeMomentum:true,
        freeModeMomentumRatio: 1,
        freeModeMomentumBounce:true,
        freeModeMomentumBounceRatio: 1,
        freeModeMomentumVelocityRatio: 1,
        freeModeSticky:false,
        freeModeMinimumVelocity: 0.02,
        slidesPerView: 4,
        spaceBetween: 20,
        autoplay: {
        delay: 5000,
        },
        breakpoints: {
            1920: {
                slidesPerView: 4,
                spaceBetween: 30
            },
            768: {
                slidesPerView: 3,
                spaceBetween: 0
            },
           767: {
                slidesPerView: 1.28,
                spaceBetween: 0
            }
        }
    });
});

</script>





{% schema %}
  {
    "name": "Image Slider",
    "settings": [
     
   {
      "type": "richtext",
      "id": "paragraph3",
      "label": {
         "en": "paragraph slider"
      }
    }
   
    ],
    "name": "Image Slider",

    "blocks": [
			{
				"type": "text",
				"name": "Review",
				"settings": [
				
		{
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
         }
    },			
   {
      "type": "richtext",
      "id": "paragraph",
      "label": {
         "en": "Text para review"
      }
    }

				]
			}
		],
	
    "presets": [
     {
      "name": "Image Slider",
      "category": "Image"
    }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}