<div class="page-width gr_parent_Order_master">
  
  <div class="order_master_heading"> {{section.settings.Header_text }} </div>
  
<div class="image-grid-wrapper d-flex">
  
  {% for block in section.blocks %}
    <div class="image-grid-item">
      <div class="image_wrapper">
        {% assign img = block.settings.image %}
        {%- assign img_url = img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% include 'image-style', image: img %}
        <div
          style="padding-top:{{ 1 | divided_by: img.aspect_ratio | times: 100}}%;"
          class="product-single__media"
          data-image-loading-animation>
          <img
            class="feature-row__image  lazyload"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ img.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ img.alt | escape }}"
          />
        </div>
        <div class="text_wrapper">
          <div class="block_pretitle">{{ block.settings.pretitle }}</div>
          <div class="block_title">{{ block.settings.title }}</div>
        </div>
      </div>
    </div>
  {% endfor %}

  {% comment %}
  <div class="child_order_master">
    <img class="order_mas_img" src="{{section.settings.img_first_1 | img_url: 'master' }}"> 
    <p class="order_mas_text"> {{section.settings.text_1 }} </p> 
  </div>
  
  <div class="child_order_master">
    <img class="order_mas_img" src="{{section.settings.img_first_2 | img_url: 'master' }}"> 
    <p class="order_mas_text"> {{section.settings.text_2 }} </p> 
  </div>
   
  
  <div class="child_order_master">
    <img class="order_mas_img" src="{{section.settings.img_first_3 | img_url: 'master' }}"> 
    <p class="order_mas_text"> {{section.settings.text_3 }} </p> 
  </div>
  
  <div class="child_order_master">
    <img class="order_mas_img" src="{{section.settings.img_first_4 | img_url: 'master' }}"> 
    <p class="order_mas_text"> {{section.settings.text_4 }} </p> 
  </div>
  {% endcomment %}
   
</div>   
  
  <div class="btn_div"> <a href="#" class="order_master_btn"> {{section.settings.order_btn }} </a> </div>
  
</div>


{% schema %}
{
  "name": "Image Grid",
  "class": "featured-image-grid",
  "settings": [
    {
      "type": "text",
      "id": "Header_text",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "image_picker",
      "id": "img_first_1",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "text_1",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "image_picker",
      "id": "img_first_2",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "text_2",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "image_picker",
      "id": "img_first_3",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "text_3",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "image_picker",
      "id": "img_first_4",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "text_4",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "order_btn",
      "label": "Button",
      "default": "Quick links"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "pretitle",
          "label": "Pre title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Grid",
      "category": "Image"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
