<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css" rel="stylesheet" type="text/css" /> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js" type="text/javascript"></script>

<div class="kit-all-bg page-width">
 <div class="why-ch-jx what-the-kit-kh"> 
<div class="custom-product-txt font-why">
    <h2>{{ section.settings.heading11 }}</h2> 
   {{ section.settings.paragraph11 }}
  <a href="{{ section.settings.button_link }}" class="btn">
          {{ section.settings.button_label | escape }}
        </a>

  </div>
  
  <div class="what-the-kit">

    <div class="swiper-container what-the-kit-w">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">

          {% for block in section.blocks %}
            <div class="swiper-slide"  data-swiper-autoplay="4000">
              <div class="all-kit-slidersx">
              <div class="kit-img">
                <img src="{{ block.settings.image | img_url: '500x500' }}"></div>
              <div class="kit-sl-text-dc">
               <h2>{{ block.settings.heading }}</h2>
             {{ block.settings.paragraph }}
              </div>
              </div></div>
          {% endfor %}

        </div>
      
<!--         <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
      
      
    </div>
  </div>
</div>
</div>  




<script>
$(document).ready(function() {

    new Swiper('.what-the-kit .swiper-container', {
        loop: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        paginationClickable: true,
        spaceBetween: 20,
        breakpoints: {
            1920: {
                slidesPerView: 3,
                spaceBetween: 20
            },
            1200: {
                slidesPerView: 3,
                spaceBetween: 20
            },
            992: {
                slidesPerView: 2,
                spaceBetween: 20
            },
            500: {
                slidesPerView: 1,
                spaceBetween: 10
            }
        }
    });
});

</script> 





{% schema %}
{
  "name": {
    "en": "What the kit"
  },
  "class": "index-section",
  "settings": [
  
  
    {
      "type": "text",
      "id": "heading11",
      "label": {
        "en": "Heading left"
      },
      "default": {
        "en": "Image with text"
      }
    },
{
      "type": "richtext",
      "id": "paragraph11",
      "label": {
         "en": "Text left"
      }
    },  
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "en": "Button label"
      }
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "en": "Button link"
     }
    }
  ],

    "name": "What kit slide",

    "blocks": [
			{
				"type": "text",
				"name": "slides",
				"settings": [
				 {
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image slider"
         }
    },
    {
      "type": "text",
      "id": "heading",
      "label": {
        "en": "Heading slider"
      },
      "default": {
        "en": "Image with text"
      }
    },
					{
      "type": "richtext",
      "id": "paragraph",
      "label": {
         "en": "Text slider"
      }
    }  
					
					
				]
			}
		],
  "presets": [
    {
      "name": {
        "en": "What the kit"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %} 