
<div class="why-ch-jx why-mypiece-liqu">
 
<div class="why-mypiece font-why">
 <div class="page-width">
  <h2>{{ section.settings.heading }}</h2> 
  </div>
  </div>  
   <div class="page-width">
 <div class="why-mymaster-full"> 
  
  <div class="why-mypiece-txt">
 <ul>
   <li class="why22-my11 handcrft">
<h4>{{ section.settings.heading2 }}</h4>

{{ section.settings.paragraph2 }} </li>
   
   
    <li class="why22-my22 handcrft">
   <h4>{{ section.settings.heading3 }}</h4>

{{ section.settings.paragraph3 }}
   </li>

    <li class="why22-my33 handcrft">
   <h4>{{ section.settings.heading4 }}</h4>

{{ section.settings.paragraph4 }}
   </li>
   
   
    <li class="why22-my44 handcrft">
   <h4>{{ section.settings.heading5 }}</h4>

{{ section.settings.paragraph5 }}
   </li>

    </ul>
   </div>
   
  <div class="why-mypiece-img">
 <img src="{{ section.settings.image | img_url: '800x800' }}">
    </div>
    
  </div>  
  </div>
</div>




{% schema %}
{
  "name": {
    "en": "Why Piece"
  },
  "class": "index-section",
  "settings": [
  {
      "type": "text",
      "id": "heading",
      "label": {
        "en": "Heading top"
      },
      "default": {
        "en": "Image with text"
      }
    },
    
    {
      "type": "text",
      "id": "heading2",
      "label": {
        "en": "Heading1"
      },
      "default": {
        "en": "Image with text"
      }
    },
    {
      "type": "richtext",
      "id": "paragraph2",
      "label": {
         "en": "Text1"
      }
    },
{
      "type": "text",
      "id": "heading3",
      "label": {
        "en": "Heading2"
      },
      "default": {
        "en": "Image with text"
      }
    },
    {
      "type": "richtext",
      "id": "paragraph3",
      "label": {
         "en": "Text2"
      }
    },
{
      "type": "text",
      "id": "heading4",
      "label": {
        "en": "Heading3"
      },
      "default": {
        "en": "Image with text"
      }
    },
    {
      "type": "richtext",
      "id": "paragraph4",
      "label": {
         "en": "Text3"
      }
    },
{
      "type": "text",
      "id": "heading5",
      "label": {
        "en": "Heading4"
      },
      "default": {
        "en": "Image with text"
      }
    },
    {
      "type": "richtext",
      "id": "paragraph5",
      "label": {
         "en": "Text4"
      }
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
         }
    }
   
  ],
  "presets": [
    {
      "name": {
        "en": "Why Piece"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}
