@font-face {
  font-family: 'ArtifexCFR';
      src:  url('https://cdn.shopify.com/s/files/1/0595/8405/3429/t/16/assets/ArtifexCF-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'ArtifexCF-ExtraBold.ttf';
      src:  url('https://cdn.shopify.com/s/files/1/0595/8405/3429/t/16/assets/ArtifexCF-ExtraBold.ttf');
}


@font-face {
  font-family: 'ArtifexCFB';
      src:  url('https://cdn.shopify.com/s/files/1/0595/8405/3429/t/16/assets/Artifex_CF_Extra_Bold.otf') format('opentype');
}
@font-face {
  font-family: 'ArtifexCFIt';
      src:  url('https://cdn.shopify.com/s/files/1/0595/8405/3429/t/16/assets/ArtifexCF-RegularItalic.otf?v=1635459806') format('opentype');
}

@font-face {
  font-family: 'TT_Norms_Pro_Regular';
      src:  url('https://cdn.shopify.com/s/files/1/0595/8405/3429/t/16/assets/TT_Norms_Pro_Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'TT_Norms_Pro_Bold';
      src:  url('https://cdn.shopify.com/s/files/1/0595/8405/3429/t/16/assets/TTNormsProBold.ttf') format('truetype');
}

.d-flex {
	display: flex;
}


.desk_baner::after {
	/* content: '';
	width: 43%;
	height: 100%;
	position: absolute;
	display: block;
	background: #2a382e;
	top: 0;
	left: 0; */
}
[data-section-type=hero-section]{overflow: hidden !important;}
.hero_2 .page-width.text-center {
	max-width: 45%;
	margin-left: 0;
}
.hero__inner {
	position: relative;
}
@media (min-width: 769px) {
	.hero__inner {
		max-width: 92%;
		left: 50%;
		transform: translateX(-50%);
	}
	.hero__inner .page-width {
		/* bottom: 75px; */
		/* left: 50%; */
		/* transform: translateX(-50%); */

		left: 0;
		top: 50%;
		transform: translateY(-50%);
		text-align: left !important;

		position: absolute;
	}	
}
@media (min-width: 701px) and (max-width:749px) {
	.hero__inner .page-width {bottom: 40px;left: 50%;transform: translateX(-50%);
		position: absolute;}
  .hero_2 .rte-setting.mega-subtitle p {margin-top: 0px !important;}
  .hero__inner a.hero__btn {margin-top: 0px;}
}
.hero__inner a.hero__btn {
	background: #222222;
	color: #FFF;
	letter-spacing: 2px;font-family: 'TT_Norms_Pro_Bold';
	padding: 15px 45px;
}
.hero_2 .h1.mega-title{
	color: #222222;
	font-family: 'ArtifexCFR';
	font-size: 36px;
	font-weight: 800;
	line-height: 1;
	text-shadow: none;
}
.hero_2 .rte-setting.mega-subtitle {
	max-width: 100%;
	margin-left: 0;
}
.hero_2 .rte-setting.mega-subtitle p{
	color: #222222;font-family: 'TT_Norms_Pro_Regular';
	margin-left: 0;
	margin-top: 20px;
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	text-shadow: none;
}
@media (max-width: 749px) {
	.hero_2 .rte-setting.mega-subtitle {
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.hero_2 .rte-setting.mega-subtitle p{
		line-height: 1.5;
	}

}

#shopify-section-hero-1{margin-top: 0 !important;}
.site-header__cart div#CartCount {
	border: 2px solid #fff;
}
.site-header__cart div#CartCount::before {
	content: '';
	width: 86%;
	height: 80%;
	display: block;
	position: absolute;
	border: 1px solid;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.site-header.border-bottom.logo--left {
	border-bottom: 0px solid var(--color-border);
} 
[class*="index-section--flush"]:first-child {
	margin-top: 0px !important;
}
.uploadkit.uploadkit-injected {
	order: 4;
	margin-top: 10px;
}
.product-form {
	display: flex;
	flex-direction: column;
}
.uploadkit-button.uploadkit-button-full-width {
	margin-bottom: 0;
}
.btn.product-form__cart-submit {
	margin-top: 15px;
}
#shopify-section-img-slider-too  .img-rev-slider-nv.font-slider-cf .img-slider-tooo {
	float: none;
	max-width: 100%;
	background: #516150;
    padding-top: 20px;
    padding-bottom: 5px;
}
#shopify-section-img-slider-too .img-rev-slider-nv.font-slider-cf .swiper-paginationbeauty-slider.swiper-pagination-clickable {
	display: flex;
	padding: 32px 20px 0;
	background: transparent;
	position: absolute;
	width: 100%;
	margin-bottom: -33px;
}
#shopify-section-img-slider-too .swiper-container.swiper-container-horizontal {
	width: 90%;
  overflow: visible;
}
div#shopify-section-img-slider-too {
	padding: 0px 0 10px;
  background:#f1e6d3;
}
#shopify-section-How-it-work {
	padding-top: 20px;
}
#shopify-section-painting-product-Bottomtemplate {
	padding-top: 20px;
}
.follow-line {
	order: 2;
}
.follow-line .overlay:target {
	z-index: 999;
}

@media only screen and (min-width:1100px){
  #shopify-section-img-slider-too .swiper-container.swiper-container-horizontal {
	max-width: 94%;
	margin: 0 auto;
    overflow: visible;
}

}
@media only screen and (min-width:701px){
  .mobile_baner{display: none;}

}

@media only screen and (max-width:700px){
	.hero_2 .h1.mega-title.mega-title--large {
/* 		font-family: 'ArtifexCFR'; */
		font-size: 36px;
		line-height: initial;
	}
  .hero_2 .page-width.text-center {
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
  #Hero-hero-1::after {
		content: none;
	}
  .hero_2 {width: 100%;}
  .desk_baner {display: none;}
.site-header__cart div#CartCount::before {
/* 	position: relative; */
}
.mobile_baner img {
	display: block;
	position: relative !important;
}
 .mobile_baner .hero__inner {
	position: relative;
	display: block;
   background: #e5ebdf;
}
}

@media screen and (min-device-width:701px) and (max-device-width:1024px){
.hero_2 .h1.mega-title.mega-title--large {
	font-size: 40px;
	line-height: 43.68px;
}
  .hero_2 .page-width.text-center {
	padding-left: 40px;
}
}

div#shopify-section-1633543889eeb59dd7 .product-single__media-wrapper {
    max-width: 100% !important;
}
div#shopify-section-1633543889eeb59dd7 .feature-row__image.product-featured-media {
    max-width: 100% !important;
    max-height: 100% !important;
}

.size_tab {
  display: none;
  border-top: none;
}
.color_tab {
  display: none;
  border-top: none;
}
.tablinks_inn span {
	width: 30px;
	height: 30px;
	display: block;
	border: 0;
  border-radius: 5px;
}
.tablinks_inn {
	background: transparent;
	border: none;
	box-shadow: none;
}
.tablinks_inn.red span {
	background-color: red;
}
.tablinks_inn.green span {
	background-color: green;
}
.tablinks_inn.blue span {
	background-color: blue;
}
.Paint_size_tab {
	background: #fff;
	box-shadow: 0 0px 13px 0px #dfdfdf;
	padding: 10px 20px 15px;
  display:none;
}
.tablinks_inn {
	padding-left: 0;
	padding-right: 15px;
}
.conv {
	font-size: 15px;
  margin: 16px 0 16px;
  color: #000;
}
.tablinks {
	background: transparent;
	box-shadow: none;
	outline: none;
	border: 0;
	font-size: 14px;
	padding: 2px 10px 2px 0;
	color: #a8a8a8;
}
.tablinks.active {
	border-bottom: 1px solid #939393;
	width: ;
}
.inn_tab {
	margin-bottom: 13px;
}
.Front_value {
	background: #f4f4f4;
	padding: 20px 20px 20px;
	margin: 20px 0;
  display:none;
}
.options ul, .options2.round ul {
	display: flex;
  flex-wrap:wrap;
	width: max-content;
	gap: 10px;
}
.options li a {
	padding: 8px 10px;
	border: 1px solid #000;
	display: block;
	min-width: 70px;
	text-align: center;
  color:#000;
}
.options li a.active{color:#fff;background:#000;}
.options2.round img {
	max-width: 23px;
	border-radius: 50px;
}
.options2.round a {
	border: 2px solid transparent;
	display: block;
	line-height: 0;
	border-radius: 50px;
}
.options2.round a.active {
	border: 2px solid #000;
}
.Data_display {
	position: absolute;
	max-width: 200px;
    min-width: 200px;
	left: -65%;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 11px 0px #7373735e;
	padding: 10px;
  visibility: hidden;
}
.style_name, .Inv_price {
	font-size: 12px;
	font-weight: 200;
	text-transform: capitalize;
	color: #979595;
	line-height: 16px;
	margin: 10px 0 0;
	padding: 0;
}
.Paint_kit {
	position: relative;
}
.slide_media .slick-dots li , #shopify-section-How-it-work .slick-dots li{
	height: 2.3px;
	width: 70px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
	background: #d7d7d7;
}
.slide_media .slick-dots li.slick-active, #shopify-section-How-it-work .slick-dots li.slick-active{
	background: #2d2c2c;
}
.slide_media .slick-dots {
	padding-top: 10px;
}
.product-form__controls-group {
	background: #F4F4F4;
	padding: 15px 22px 0px;
	margin-top: 0;
}
.product-form__controls-group .product-form__item {
	align-items: flex-start;
	flex-direction: column;
}
.product-form__item label {font-size: 18px;
  margin: 0px 0 8px;
  color: #000;
font-weight: 700 !important;
}
.swatches {
	display: flex;
	width: max-content;
  gap: 12px;
}
.swatches label {
	width: max-content;
	padding: 0 0 5px;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
	color: #0d0d0d;
letter-spacing: .5px;
}
.swatches label:hover {
	border-bottom: 1px solid;
}
.swatches.background, .swatches.Frame {
	margin-top: 5px;
}
.swatches [type="radio"] {
	display: none;
} 
.product-form select {
	display: none;
}
.swatches.Canvas.Size label.active, .swatches.People label.active{
	border-bottom: 1px solid;
}
.swatches.Frame label, .swatches.background label {
	border: 0px solid;
	font-size: 0 !important;
	border-radius: 50px;
	width: 38px !important;
	height: 38px !important;
}
.swatches.Frame label.active, .swatches.background label.active{ 
	border: 2px solid;
}
[data-name="Wood"] {
    background-size: cover;
	background-image: url('https://cdn.shopify.com/s/files/1/0595/8405/3429/files/MM_frame-icons_wood.png?v=1634245417');
}
[data-name="Gold"]{background-size: cover;background-image: url('https://cdn.shopify.com/s/files/1/0595/8405/3429/files/MM_frame-icons_gold.png?v=1634245417');}
[data-name="No Frame"]{background-size: cover;background-image: url('https://cdn.shopify.com/s/files/1/0595/8405/3429/files/MM_frame-icons_non.png?v=1634245417');position: relative;
overflow: hidden;}
[data-name="No Frame"]::before {
/* 	content: "/"; */
	font-size: 44px;
	line-height: 0;
	left: 8px;
	right: 0;
	color: red;
	position: absolute;
	text-align: center;
	transform: rotate(120deg);
	top: 22px;
}
[data-name="Silver"]{background-size: cover;background-image: url('https://cdn.shopify.com/s/files/1/0595/8405/3429/files/MM_frame-icons_silver.png?v=1634245417');}
[data-name="Black"]{background-size: cover;background-image: url('https://cdn.shopify.com/s/files/1/0595/8405/3429/files/MM_frame-icons_black.png?v=1634245417');}
[data-name="White"] {
    background-size: cover;
	background-image: url('https://cdn.shopify.com/s/files/1/0595/8405/3429/files/MM_frame-icons_white.png?v=1634245417');
}
.can_size{
	border: 1px solid #979595;
}
.swatches label:not([data-name="No Frame"]):hover .Data_display {
    visibility: visible !important;
}
[data-name="No Frame"]:hover {
/* 	position: unset */
}
[data-name="No Frame"]:hover::before{
/* 	display: none */
}
/* .frame_image{
	border: 6px solid;
} */
/* [data-border="Wood"] {
	border-color: #a6734b;
}
[data-border="Gold"]{border-color: Gold;}
[data-border="No Frame"]{border-color: transparent;}
[data-border="Silver"]{border-color: Silver;}
[data-border="Black"]{border-color: black;}
[data-border="White"] {
	border-color: white;
}
[data-background="wood"] {
	border-color: #a6734b;
} */
[data-background="gold"]{background-color: Gold;}
[data-background="silver"]{background-color: Silver;}
[data-background="black"]{background-color: black;}
[data-background="white"] {
	border-color: white;
}
.selector-wrapper > .product-form__item label {
	font-size: 16px;
	margin: 0 0 8px;
	color: #000;
	font-weight: 800;
	font-family: TT_Norms_Pro_Bold;
	line-height: 20px;
}
  .swatches.Canvas.Size label.active, .swatches.Canvas.Size label:hover,
  .swatches.People label.active, .swatches.People label:hover {
	border: 1px solid #000;
	background: #000;
	color: #fff;
}
.swatches.Canvas.Size label, .swatches.People label {
	border: 1px solid;
	padding: 5px 7px;
	min-width: 64px;
	text-align: center;
	border-radius: 5px;
  margin-top: 8px;
}
.selector-wrapper.js.product-form__item:nth-child(4) {
    order: 3;
}
.selector-wrapper.js.product-form__item:nth-child(3) {
    order: 4;
}
#shopify-section-How-it-work {
	background: #F1E6D3;
}
#shopify-section-How-it-work .section-header h2 {
	color: #222222;
	font-size: 36px;
	line-height: 36px;
	letter-spacing: -1px;
	font-family: 'ArtifexCF-Regular';
	text-transform: capitalize;
}
#shopify-section-How-it-work .logo-bar__item {
	max-width: 25%;
}
#shopify-section-How-it-work .content h1 p {
	font-family: Artifex_CF_Extra_Bold;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: 0;
	margin-top: 10px;
}
#shopify-section-How-it-work .content h3 p {
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0;
	margin-top: 10px;
	font-weight: 400;
	color: #00000087;
	max-width: 91%;
	margin: 0 auto;
}
.product-single__thumbnail{ border: 2px solid #ececec;}
.what-iskit-color.font-slider-cf .what-is-sldr h2 {
	color: #222;
	font-family: Artifex_CF_Extra_Bold;
	text-transform: inherit;
	letter-spacing: -2px;
	font-size: 36px;
	line-height: 43px;
	font-weight: 800;
}
.what-iskit-color.font-slider-cf .what-is-sldr p {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	color: #222;
	max-width: 130px !important;
	margin: 42px 0 45px;
	font-family: ;
}
@media screen and (max-width:767px) {
  .product-form__item label:not(.swatches label) {
    margin: 0px 0 8px;
    color: #000;
    font-family: 'TTNormsProBold' !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 19px !important;
  }
  .product-single .product-single__meta h1.product-single__title{
  	width: 260px
  }
  #shopify-section-How-it-work .logo-bar__item {
	max-width: 48%;
}
  .product-single__media-wrapper, [data-thumbnail-slider=""] {
	display: none;
}
.shopify-section.index-section--featured-product .product-single__media-wrapper, .shopify-section.index-section--featured-product [data-thumbnail-slider=""] {
	display: block;
}
/*   .Paint_size_tab, .Front_value{display:block;} */
  .swatches.Frame label, .swatches.background label {
	border: 0 solid;
	font-size: 0 !important;
	border-radius: 50px;
	width: 40px !important;
	height: 40px !important;
}
  .product__price {
      padding: 25px 0;
  }
  .follow-line {
    padding-top: 20px;
  }
  .product-form__controls-group.product-form__controls-group--submit{
  	padding: 0;
    background: #fff;
    margin: 0;
    padding-bottom: 20px;
  }
  [data-name="No Frame"]::before {
	left: 16px;
}
  .product-form__item label {
	font-size: 16px;
}
.Data_display {
	position: absolute;
	max-width: 200px;
	min-width: 200px;
	left: 17%;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 11px 0 #7373735e;
	padding: 10px;
	visibility: hidden;
	top: 95%;
	z-index: 99;
}
  .swatches {
	position: relative;
}

}
@media screen and (max-width:767px) {
  .over-view-rv h2 {
      text-align: left;
      padding: 0 30px;
      margin-bottom: 0
  }
  .reviews-sl-text {
    padding: 0 30px 12px;
  }
  .reviews-author img {
      max-width: 120px;
  }
  #shopify-section-How-it-work .logo-bar__item {
/* 	max-width: 85%; */
}
}
@media screen and (min-width:1200px) {
.thumbnails-wrapper .product-single__thumbnails li img {
	height: 140px;
	width: 140px !important;
	max-width: 100% !important;
	object-fit: cover;
	min-height: 140px !important;
	max-height: 140px !important;
}
}

@media screen and (min-width:768px) {
  .product-single .product-single__meta h1.product-single__title {
      width: 260px;
  }
  ul.how_mobile.logo-bar li.logo-bar__item img{
  	width: 100%
  }
  [data-thumbnail-slider]{
  	max-width: 630px;
    margin: auto
  }
  .product-single__thumbnails{margin-left: -6px;}
  .slide_media{display: none;}
  .wht-ful-kit-lm .what-is-kit-outer{width: 80%}
  .un_div{display: none}
  .product-single__meta .upload-img-tg{padding-top:0}
}
.product-form__controls-group.product-form__controls-group--submit{
	background: #fff;
      padding: 0;
margin-top: 0;
}
#shopify-section-How-it-work .section-header {
	margin-bottom: 65px;
}
body.template-index form#product_form_6962194055349 .product-form__controls-group:nth-child(1){
	display: none;
}
body.template-product div#shopify-section-Paint_hero {
    display: none;
}
body.template-index{
	/* display: none */
}
label.swt {
    width: auto;
}
.product-tagline{
	margin-bottom:0
}
.cst-review{
	margin-bottom: 15px
}
.font-slider-cf .reviews-sl-text p {
    font-family: 'ArtifexCF-Light';
}
.img-rev-slider-nv.font-slider-cf .swiper-paginationbeauty-slider span.swiper-pagination-bullet{
	margin: 0
}
div#shopify-section-1635532081e0631dd6 {
    background: #a0bd84;
    position: relative;padding:0px;
}
div#shopify-section-1635532081e0631dd6 .onlt-col-rightss {
    right: 0;
    position: absolute;
    top: 0;
    background: url(https://cdn.shopify.com/s/files/1/0595/8405/3429/files/Rectangle_129.png?v=1632558802);
    background-repeat: no-repeat!important;
    background-size: cover;
    width: 49%;
    height: 100%;
    overflow: hidden;
}
div#shopify-section-1633546353d363320e {
    padding: 22px 0;
    background: #e5ebdf;
}
.Paernt_order_master {
    display: flex;
    flex-wrap: wrap;
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
}
.order_mas_img {
    width: 100%;margin-bottom: 10px;
}
.child_order_master {
    width: 50%;padding:0px 1%;
  margin-bottom:40px;
}
.order_mas_text {
    font-size: 22px;
    color: #222222;font-family: 'ArtifexCF-ExtraBold.ttf';
    font-weight: 800;text-align:center;
}
@media (max-width: 749px) {
	.order_mas_text {
		font-family: 'TTNormsProRegular';
	}
}
.order_master_heading {
    font-size: 36px;
    letter-spacing: -1px;
    color: #222222;
    font-weight: 800;
    margin-bottom: 40px;
    text-align: center;font-family: 'ArtifexCF-ExtraBold.ttf';
}
.grid.product-single.d-flex button.btn.product-form__cart-submit {
    background: #000 !important;
    color: #fff !important;
}
body.template-index shopify-payment-terms {
    display: none;
}
.shopify-section.index-section--featured-product .grid__item.info-wrapper .featured-product__price span {
    font-family: ArtifexCFIt;
}
div .shopify-section.index-section--featured-product .grid__item.info-wrapper .featured-product__price {
    margin-bottom: 10px;
    margin-top: 20px;
}
.learn_more_btn{
    background: #000!important;
    color: #fff!important;
    margin-top: 15px;
    border: 2px solid #222;
    padding: 8px 28px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 33px;
    border-radius: 3px;
    width: 100%;
    font-family: TTNormsProBold;
    letter-spacing: .15em;
    text-align: center;
}
body.template-index .product-single .product-single__meta {
    max-width: 300px !important;
    width: 100%;
}

@media (max-width: 749px) {
	body.template-index .product-single .product-single__meta {
		max-width: 100% !important;
	}
}
div#shopify-section-16355305004f3edda0 .img-rev-slider-nv.font-slider-cf .img-slider-tooo {
    background: #516250;
}
div#shopify-section-16355305004f3edda0 .img-rev-slider-nv.font-slider-cf .img-slider-tooo .swiper-container {
    overflow: visible;
}
div#shopify-section-16355305004f3edda0 .img-rev-slider-nv.font-slider-cf .img-slider-tooo .swiper-paginationbeauty-slider.swiper-pagination-clickable.swiper-pagination-bullets {
    width: 90%;
    position: relative;
    bottom: -25px;
}
div#shopify-section-16355305004f3edda0 .img-rev-slider-nv.font-slider-cf .swiper-paginationbeauty-slider span.swiper-pagination-bullet {
    margin: 0 10px;
}
.order_master_btn {
	font-size: 14px;
	letter-spacing: 2px;
	color: #ffffff !important;
	font-weight: bold;
	background: #000;font-family: 'TT_Norms_Pro';
  border-radius: 0;
	margin-top: 10px;
	padding: 15px 100px;
	display: inline-block;
}
@media (max-width: 749px) {
	.order_master_btn {
		font-family: 'TTNormsProRegular';
		width: 100%;
	}
}
.btn_div {
    text-align: center;
}
div#shopify-section-1635531152fd21787b {
    clear: both;
		padding-bottom: 75px;
}
.main-content .shopify-section {clear: both;}
div#shopify-section-1635532034aad4f39e div#insta-feed {
    padding: 0px !important;
}
div#shopify-section-1635532034aad4f39e #insta-feed img {height:100% !important;}
.gift-section .text_wrapper {
    color: #222;
    font-family: TT_Norms_Pro_Regular;
    margin-left: 0;
    font-size: 16px;
    font-weight: 400;
}
.site-nav__label {font-family: 'TT_Norms_Pro_Bold';}
@media screen and (max-width:767px) {
  div#shopify-section-1635531152fd21787b .page-width.gr_parent_Order_master {padding: 0px 18px;}
}
@media screen and (min-device-width: 701px) and (max-device-width: 1024px) {
.hero_2 .page-width.text-center {width: 100%;max-width: 100%;}
}
@media screen and (max-width:700px) {
	div#shopify-section-16355305004f3edda0 .img-rev-slider-nv.font-slider-cf .img-slider-tooo .swiper-paginationbeauty-slider.swiper-pagination-clickable.swiper-pagination-bullets {
    display: flex;bottom: 15px;}
  div#shopify-section-16355305004f3edda0 .img-rev-slider-nv.font-slider-cf .swiper-paginationbeauty-slider span.swiper-pagination-bullet {
    margin: 0 0px;background: #fff!important;opacity:1;border-radius: 0px;}
  div#shopify-section-16355305004f3edda0 .img-rev-slider-nv.font-slider-cf .swiper-paginationbeauty-slider span.swiper-pagination-bullet.swiper-pagination-bullet-active {background: #000!important;}
	.order_master_heading {font-size: 30px;max-width: 240px;margin: auto;line-height: initial;margin-bottom:30px;}
  .order_mas_text {font-size: 16px;font-weight: 600;text-align: left;line-height: initial;}
  .order_mas_img {margin-bottom: 0px;}
  .child_order_master {margin-bottom: 20px;}
  div#shopify-section-1635532081e0631dd6 .onlt-col-rightss {display: none}
  .newsletter-section .form-single-field input {padding: 0px 3px;font-size: 15px;}
  .newsletter-section button.btn {font-size: 15px;padding:0px;}
  .newsletter-section .rte p {font-size: 16px;color: #57713e;}
  .insta-news-letter h2 {font-size: 16px;}
  .insta-news-letter {align-items: center;padding: 0px 15px;}
  .insta-news-letter ul li a.btn-social {font-size: 18px;}
  .hero_2 .rte-setting.mega-subtitle p {margin-top: 10px;}
  div#shopify-section-hero-1 .hero__inner a.hero__btn {margin-top:10px;}
  div#shopify-section-hero-1 .img-rev-slider-nv.font-slider-cf .img-slider-tooo {margin-bottom: 40px;}
  div#shopify-section-1633543889eeb59dd7 {padding-top:0px;margin-top: -180px;}
  #shopify-section-hero-1.shopify-section.image-with-text-overlay .hero__inner {padding-bottom: 200px;}
  .index-section--flush:last-child {margin-bottom:0px;}
  footer.site-footer {margin-top:0px;}
/*   div#shopify-section-1635532034aad4f39e div#insta-feed .instafeed-container {
    width: 50% !important;padding-top: 50% !important;
} */
}

/* @media screen and (max-width:355px) {
  .order_mas_text {font-size: 14px;}
} */